.NavbarItems {
    display: flex; /* Use Flexbox to control layout */
    justify-content: space-between; /* Space between for alignment */
    height: 90px;
    align-items: center; /* Center vertically */
    font-size: xx-large;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-logo {
    color: #5F9EA0;
    background: #5F9EA0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
