body {
    background-color: black;
    /* background-image: url("C:\Users\mustu\Downloads\Download premium psd _ image of Aesthetic collage background, ripped paper border frame psd by Sasi about scrapbook background, aesthetic scrapbook design, torn wall, old frame, and old paper 4047382.jpeg"); */
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Dela Gothic One', cursive;
    margin: 0%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dela Gothic One', cursive;
}

container{
    margin: 0;
}
